body{
    background-image: url(img/container_bg.png);    
    font-family: "Pokemon GB", Arial, sans-serif;
    margin: 0;
}

@font-face {
    font-family: "Pokemon GB";
    src: url("Pokemon_GB.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
.box {
    font-size: 12px;  
    border-radius: 2px;
    padding: 8px;
    width: 90%;
    height: 72px;
    line-height: 16px;
    margin: auto;
    background: white;
    border: 1px solid white;
    box-shadow: 0 1px 0 1px black,
                inset 0 1px 0 1px black,
                0 0 0 1px black,
                inset 0 0 0 1px black;
}

.box > i {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: black;
    margin-top: 33px;
    animation: bounce 0.5s ease-in-out 0 infinite alternate;
    float: right;  
}
  
@keyframes bounce {
    from { margin-top: 20px; }
    to { margin-top: 23px; }
}

.box p{
    float: left;
    margin: 0;
    width: calc(100% - 18px);
    text-align: left;
}

.start{
    display: block;
    justify-content: center;
    background-image: url(img/body_bg.png);
    position: absolute;
    width: 100%;
    height: auto;
    min-height: 100vh;
    top: 0;
}

.start img{
    margin: 20px auto;  
}

.textBubble{
    background-color: #F2F2F2;
    color: #313131;
    padding: 5px;
    border-radius: 5px;
    margin: 20px 10px;
    width: calc(100% - 40px) ;
    display: inline-block;
    position: absolute;
    bottom: 10px;
    height: 60px;
}

.cell{
    background-color: #d32929;
    border-radius: 5px;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: center;
    cursor: default;
    font-size: 70px;
    padding: 0;
    margin: 0;
}

.text{
    display: flex;
    justify-content: center;
}

.endGame{
    display: none; 
    justify-content: center;
    width: 250px;
    height: 40px;
    top: 125px;
    left: 50%;
    margin-left: -150px;
    background-color: rgba(34, 34, 36, 0.8);
    position: absolute;
    border-radius: 5px;
    padding: 50px 25px;
    color: #F2F2F2
}

.endGame button{
    background-color: #F2F2F2;
    color: rgba(34, 34, 36)
}

.choosePokemon, .choosePokemon2{
    left: 50%;
    margin-left: -150px;
    width: 300px;
    height: 120px;
    justify-content: center;
    flex-direction: column;
    top: 125px;
    background-color:rgba(34, 34, 36, 0.8);
    position: absolute;
    border-radius: 5px;
    padding: 20px 0;
    color: #F2F2F2
}

.choosePokemon{
    display: flex;
}

.choosePokemon2{
    display: none
}

.pokemon{
    display: flex;
    flex-direction: row;
    margin: auto;
}

.pokemon img{
    width: 75px;
    height: 75px;
}

.game{
    border-collapse: separate;
    border-spacing: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.score{
    display: flex;
    flex: row;
    justify-content: center;
    margin-top: 10px;
}

.scoreBoard{
    width: 50px;
    text-align: center;
    font-size: 20px;
}

img{
    display: block;
}

.buttons{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

button{
    background-color: #313131;  
    border: none;
    border-radius: 10px;
    display: block;
    color: #F2F2F2;
    padding: 5px 0 ;
    width:100%;
    font-family : inherit;
    font-size: 12px;

}

.button{
    width: 130px;
    padding: 0;
    margin: 0 3px;
}

.choosePokemon p, .choosePokemon2 p{
    display: flex;
    justify-content: center;
}

#text2, #text3, #text4, #text5, #text6, #text7, #text8{
    display: none;
}

